includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max

    paths:
        - src
        - tests

    excludePaths:
        - 'tests/*/Fixture/*'
        - 'tests/Rules/data/*'
        - 'tests/Rules/templates//*'

    exceptions:
        reportUncheckedExceptionDeadCatch: true
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - 'Bladestan\Exception\ShouldNotHappenException'
            - 'Nette\Utils\JsonException'
            - 'ReflectionException'
            - 'Webmozart\Assert\InvalidArgumentException'

    ignoreErrors:
        -
            identifier: missingType.checkedException
            path: tests/*
