services:
    - Bladestan\TemplateCompiler\PHPStan\FileAnalyserProvider
    - Bladestan\TemplateCompiler\NodeFactory\VarDocNodeFactory
    - Bladestan\TemplateCompiler\TypeAnalyzer\TemplateVariableTypesResolver
    - Bladestan\TemplateCompiler\ErrorFilter
    - Bladestan\PhpParser\SimplePhpParser
    - Bladestan\Compiler\FileNameAndLineNumberAddingPreCompiler

    -
        factory: Bladestan\Configuration\Configuration
        arguments:
            - %bladestan%
